<div class="home">
    <h1 class="home__title">Scegli che accesso effettuare</h1>
</div>

<div class="cards">
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Accesso per utente</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Area Utente <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-2">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Accesso per admin</h2>
      <p class="card__apply">
        <a class="card__link" routerLink="/admin">Area Admin <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>

  
  </div>