<div class="row">
    <div class="col">
        <div class="menu-giorno-container">
            <h1 class="menu-giorno__title" *ngIf="user; else noLoggedIn">Ciao {{user}}</h1>
            <ng-template #noLoggedIn>Devi effettuare l'accesso per potere prenotare un pasto, <button
                    class="btn btn-success" routerLink="/diner">vai alla login</button></ng-template>
            <h3>{{oggi | date: 'dd MMMM yyyy'}}</h3>
            Puoi prenotare il menu di domani {{domani | date: 'dd MMMM yyyy'}}
            <div class="menu-giorno" *ngIf="tomorrowMenu">
                <form [formGroup]="dinnerForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="giorno">Commensale:</label>
                        <input type="text" class="form-control" formControlName="user" value="Pippo Rossi" readonly>
                    </div>
                    <div class="form-group">
                        <label for="giorno">Primi:</label>
                        <select class="form-select" aria-label="Default select example" formControlName="primo">
                            <option selected>Scegli un primo</option>
                            <option value="{{tomorrowMenu.primo1}}">{{tomorrowMenu.primo1}}</option>
                            <option value="{{tomorrowMenu.primo2}}">{{tomorrowMenu.primo2}}</option>
                            <option value="{{tomorrowMenu.primo3}}">{{tomorrowMenu.primo3}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="giorno">Secondi:</label>
                        <select class="form-select" aria-label="Default select example" formControlName="secondo">
                            <option selected>Scegli un secondo</option>
                            <option value="{{tomorrowMenu.secondo1}}">{{tomorrowMenu.secondo1}}</option>
                            <option value="{{tomorrowMenu.secondo2}}">{{tomorrowMenu.secondo2}}</option>
                            <option value="{{tomorrowMenu.secondo3}}">{{tomorrowMenu.secondo3}}</option>
                        </select>
                    </div>
                    <button class="btn btn-success" [disabled]="!dinnerForm.valid">Prenota</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4 *ngIf="success">Hai effettuato la prenotazione!</h4>
    </div>
</div>