<h2>benvenuto nel mio diario</h2>
<table class="table">
    <thead>
      <tr>
      
        <th scope="col">Date</th>
        <th scope="col">Entry</th>
        <th scope="col">Actuon</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let diary of diaryEntries; index as i">

        <td>{{diary.date}}</td>
        <td>{{diary.entry}}</td>
        <td>
            <button class="btn btn-light" (click)="onEdit(i)">Edit</button>
            <button class="btn btn-danger" (click)="onDelete(i)">Remove</button>
        </td>
      </tr>
  
    </tbody>
  </table>